body {
    width: 100%;
    height: 100vh;
    background: rgb(40,45,50);
    color: rgb(255,255,255);
    font-family: Montserrat, sans-serif;
  }
  
  .input-group {
    justify-self: flex-start;
  }
  
  .modal-content{
    background: rgb(40,45,50);
  }
  .modal-dialog{
   width: 600px;
  }
